/* Custom fonts */
@font-face {
    font-family: Lobster;
    src: url(./fonts/Lobster.ttf);
}

@font-face {
    font-family: 'Lexend Deca';
    src: url(./fonts/LexendDeca.ttf);
}

@font-face {
    font-family: 'Montaga';
    src: url(./fonts/Montaga.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf), url('./fonts/Roboto-Thin.ttf'), url('./fonts/Roboto-Bold.ttf');
}

/* Custom CSS classes */
.tag {
    @apply border border-dark-200 text-dark-200 font-medium rounded-lg px-2.5 py-1 text-xs;
}

.bg-pattern {
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(to right,
            #ffffff,
            #ffffff 1px,
            #d1fae5 1px,
            #d1fae5);
}