/* Custom fonts */
@font-face {
    font-family: Lobster;
    src: url(./fonts/Lobster.ttf);
}

@font-face {
    font-family: 'Lexend Deca';
    src: url(./fonts/LexendDeca.ttf);
}

@font-face {
    font-family: 'Montaga';
    src: url(./fonts/Montaga.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf), url('./fonts/Roboto-Thin.ttf'), url('./fonts/Roboto-Bold.ttf');
}