/* Custom fonts */
@font-face {
    font-family: Lobster;
    src: url(./fonts/Lobster.ttf);
}

@font-face {
    font-family: 'Lexend Deca';
    src: url(./fonts/LexendDeca.ttf);
}

@font-face {
    font-family: 'Montaga';
    src: url(./fonts/Montaga.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf), url('./fonts/Roboto-Thin.ttf'), url('./fonts/Roboto-Bold.ttf');
}

/* Custom CSS classes */
.tag {
    @apply border border-dark-200 text-dark-200 font-medium rounded-lg px-2.5 py-1 text-xs;
}

.bg-pattern {
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(to right,
            #ffffff,
            #ffffff 1px,
            #d1fae5 1px,
            #d1fae5);
}

/* Vue Transition class */
.fade-enter-active,
.fade-leave-active {
    transition: all .2s ease-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    transform: translateY(2px);
}

.slight_fade-enter-active,
.slight_fade-leave-active {
    transition: all .5s;
}

.slight_fade-enter-from,
.slight_fade-leave-to {
    opacity: 0;
    /* transform: translateY(1px); */
}

label {
    @apply text-sm;
}

input[type="text"],
input[type="email"] {
    @apply border py-2 px-3 rounded-lg text-sm w-full;
}